<div class="toolbar" role="banner">

	<h1><b> <span style="margin: 0 20px;">Omniwyse Announcements</span></b></h1>
 <button mat.raised.button id="logout" (click)="logout()"><b>Logout</b></button> 
 
 </div>

 <div id="dashboard" >
	<p style="height: 40px;width:500px;margin:0 80%;position:relative;left:-50px;"><b style="color: green;">Welcome {{name}}</b></p>
	<h1><b> <span style="height: 40px;width:200px;margin:0 20%;position:relative;left:-10px;">Scheduled Announcements</span></b></h1>
	
	<div class="notifications-block" fxLayout = "column" > 
		<mat-card  *ngFor="let post of announcementList" class="mat-elevation-z8 notification-card" fxFlex="center center" fxLayoutGap="20px">
		  <mat-card-header>
		    <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Title:{{post.title}}</mat-card-title>
            <b style="margin:0 5%;">Scheduled Date:  {{post.scheduledDate}}</b>
		  </mat-card-header>
		  <mat-card-content>
			<div *ngIf="post.imageURL" style=" float: right;"><img style="width: 200px; height: 200px;"  src="{{environmentURL + post.imageURL}}"></div>
             <b>Description:</b> 
            <div [innerHTML]="post.description"></div><br>
		  </mat-card-content>
		  <mat-card-actions>
            <button (click)="goToViewScheduledAnnouncement(post._id)"  mat-button color="primary">View </button>
            <button (click) = "editScheduledAnnouncement(post._id)" mat-button color="primary">Edit</button>
            <button (click) = "deleteScheduledAnnouncement(post._id)" mat-button color="primary">Delete</button>
		  </mat-card-actions>  
		</mat-card>
	</div>

</div>
 
 <router-outlet></router-outlet>